<h1>Bands</h1>

<p *ngIf="!bands"><em>Loading...</em></p>

<table *ngIf="bands" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active from Year</th>
      <th>Active to Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let band of bands">
      <td><a [routerLink]="['/bands', band.id]">{{ band.name }}</a></td>
      <td>{{ band.activeFromYear }}</td>
      <td>{{ band.activeToYear }}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-default" (click)="onCreate()">Create</button>
