<h1>Band</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name" required maxlength="100"  />
    <div *ngIf="hasError('name')" class="alert alert-danger">
      <div *ngIf="getError('name', 'required')">Name is required.</div>
      <div *ngIf="getError('name', 'maxlength')">Name must be at most 100 characters long.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="activeFromYear">Active from Year</label>
    <input type="number" id="activeFromYear" class="form-control" formControlName="activeFromYear" required />
    <div *ngIf="hasError('activeFromYear')" class="alert alert-danger">
      <div *ngIf="getError('activeFromYear', 'required')">Active from Year is required.</div>
      <div *ngIf="getError('activeFromYear', 'pattern')">Active from Year must be an integer.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="activeToYear">Active to Year</label>
    <input type="number" id="activeToYear" class="form-control" formControlName="activeToYear" />
    <div *ngIf="hasError('activeToYear')" class="alert alert-danger">
      <div *ngIf="getError('activeToYear', 'pattern')">Active to Year must be an integer.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>&nbsp;
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
  <button *ngIf="isEditing" type="button" class="btn btn-danger pull-right" (click)="onDelete()">Delete</button>
</form>
